.header1{
    background: #FA6900;
}

a {color:  #E0E4CC ;
    text-decoration: none; }

a:hover {color: #ff9900;} 

a:active {color: #006699;} 

li a {
    color: #F38630;
    font-size: 30px;
}

h3 { color: #FA6900; 
    font-family: segoe script; 
    font-size: 35px;
    font-weight: bold; }

p { color:   #FA6900;
   font-family: ink free;
   font-size: 25px;}

.produk a {
    color: #ff9900;
}